<div class="stu">
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <tabset type="pills">
      <tab heading="添加学生">
        <div class="addform">
          <form class="form-group" #stu="ngForm" (ngSubmit)="addstu(stu)">
           <div>
           <label>学号</label>
           <input class="form-control" ngModel name="id" placeholder="学号">
          </div>
          <div>
            <label>姓名</label>
            <input class="form-control" ngModel name="name" placeholder="姓名">
          </div>
          <div>
            <label>性别</label>
            <input class="form-control" ngModel name="sex" placeholder="性别">
          </div>
          <div>
            <label>电话</label>
            <input class="form-control" ngModel name="tel" placeholder="电话">
          </div>
          <div>
            <label>班级</label>
            <input class="form-control" ngModel name="stclass" placeholder="班级">
          </div>
            <div>
            <button class="btn btn-success" type="submit">添加</button>
              <button class="btn btn-primary" type="reset">重置</button>
            </div>
        </form>
        </div>

      </tab>
      <tab heading="搜索学生">
        <pre class="card card-block card-header">当前选择: {{selected | json}}</pre>
        <input [(ngModel)]="selected" [typeahead]="states" class="form-control">
        <button class="btn btn-primary" (click)="look(selected)">查看</button>

        <div *ngIf="check">
          <form #changef="ngForm" class="form-group" >
              <div>
                <label>学号</label>
                <input class="form-control" [(ngModel)]="stud.id" type="text" id="aid" name="aid" placeholder="学号">
              </div>
              <div>
                <label>姓名</label>
                <input class="form-control" [(ngModel)]="stud.name" id="aname" name="aname" placeholder="姓名">
              </div>
              <div>
                <label>性别</label>
                <input class="form-control" [(ngModel)]="stud.sex" id="asex" name="asex" placeholder="性别">
              </div>
              <div>
                <label>电话</label>
                <input class="form-control" [(ngModel)]="stud.tel" id="atel" name="atel" placeholder="电话">
              </div>
              <div>
                <label>班级</label>
                <input class="form-control" [(ngModel)]="stud.stclass" id="astclass" name="astclass"  placeholder="班级">
              </div>
              <div>
                <button class="btn btn-primay"  (click)= "change(stud)" type="submit">修改</button>
                <button class="btn btn-danger" (click)="deletest(stud)">删除</button>

              </div>
            </form>
          <p>f.value:{{changef.value |json}}</p>

        </div>
      </tab>
    </tabset>
  </div>
</div>
</div>
<button class="btn" (click)="addmodal()">aaaa</button>
